.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    justify-content: space-between;
    gap: 70px;
}