:root {
    --hero-bcg: #2F303A;
    --accent-color: #2196F3;
    --main-text: #757575;
    --white-text: #ffffff;
    --translucent-text: rgba(255, 255, 255, 0.6);
    --secondary-text:#212121;
    --bcg-white: #212121;
    --main-bcg:#FFF;
    --grey-bcg: #F5F4FA;
    --bcg-btn: #F5F4FA;
    --icon-grey-fil: #AFB1B8;

}